.navigation {
  @media screen and (min-width: 1024px) {
    padding-left: 200px;
    padding-right: 200px;
  }

  .logo__container {
    width: 180px;

    >img {
      max-width: 100%;
    }
  }

  .navbar__right {
    @media screen and (min-width: 1024px) {
      align-items: center;
    }
  }

  .nav__item {
    >i {
      font-size: 16px;
    }
  }
}